<div id="centerpage">
  <%= render 'shared/tabs' %>
  <div id="mainpagewrap"> 

    <div class="box effect1">
      <h2><%= t '.api_documentation' %> </h2>
    </div>        

    <div class="mainpageleft">
      <h1>GET Submissions</h1>
    </div>
  </div>
  <div id="mainpage"></div>
</div>
