<html>
<head>
	

	
</head>


<body style="margin: 0;">

	<div class="fullmessagewrap" style="-moz-box-shadow: 0px 0px 5px 0px rgba(156,156,156,1); -webkit-box-shadow: 0px 0px 5px 0px rgba(156,156,156,1); background-color: #ecf0f6; box-shadow: 0px 0px 5px 0px rgba(156,156,156,1); height: 450px; margin: 0 auto; margin-top: 25px; width: 700px;">
		<div class="messageheader" style="background-color: #2a2a2a; background-image: url(gamecontrollerbackground.png); background-position: top-left; background-repeat: repeat-x; height: 57px; position: relative; width: 100%; z-index: 1;">

			<div class="logowrap" style="padding-top: 7px; text-align: center;"><img src="textlogo.png" alt="Mods-Unturned" class="toplogo"></div>

			<div class="headercolorsquares" style="background-color: #2a2a2a; background-image: url(headersquares.png); background-position: bottom-left; bottom: 0; height: 3px; margin-left: 39px; position: absolute; width: 622px; z-index: 2;">

			</div>
			<div class="topshadowwrap" style="background-image: url(topshadow.png); background-position: top-left; background-repeat: repeat-x; bottom: 0; height: 3px; position: absolute; width: 100%; z-index: 5;">

			</div>
		</div>
		
		<div class="whitecongratswrap" style="height: 155px; text-align: center; width: 100%;">
			<div class="congratsspacer" style="height: 17px;"></div>
			<div class="innercongratswrap" style="-moz-border-radius: 10px; -moz-box-shadow: inset 0px 0px 3px 0px #A1A1A1; -o-box-shadow: inset 0px 0px 3px 0px #A1A1A1; -webkit-border-radius: 10px; -webkit-box-shadow: inset 0px 0px 3px 0px #A1A1A1; background-color: #58f77d; border-radius: 10px; box-shadow: inset 0px 0px 3px 0px #A1A1A1; display: inline-block; height: 121px; margin: 0 auto; width: 623px;">
				<h1 class="congrats" style="color: #fff; font-family: Brush Script MT, sans-serif; font-size: 75px; margin-top: 16px; text-shadow: 0px 0px 4px rgba(50, 50, 50, 0.5);"> APPROVED! </h1>
			</div>
		</div>
		
		<div class="fullmapshowcasewrap" style="-moz-box-shadow: inset  0  8px 8px -8px #000, 
			inset  0 -8px 8px -8px #000; -webkit-box-shadow: inset  0  8px 8px -8px #000, 
			inset  0 -8px 8px -8px #000; background-color: #323b40; box-shadow: inset  0  8px 8px -8px #000, 
			inset  0 -8px 8px -8px #000; height: 174px; width: 100%;">
			<div class="imageswrap" style="height: 125px; padding-left: 55px; width: 645px;">
				<img class="imageholders" src="testimage.jpg" alt="Screenshot" style="-moz-box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5); -webkit-box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5); box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5); display: inline-block; height: 101px; margin-right: 20px; margin-top: 15px; width: 180px;">
				<img class="imageholders" src="testimage.jpg" alt="Screenshot" style="-moz-box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5); -webkit-box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5); box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5); display: inline-block; height: 101px; margin-right: 20px; margin-top: 15px; width: 180px;">
				<img class="imageholders" src="testimage.jpg" alt="Screenshot" style="-moz-box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5); -webkit-box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5); box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5); display: inline-block; height: 101px; margin-right: 20px; margin-top: 15px; width: 180px;">
			</div>
			<div class="mapname" style="color: aaafc0; font-family: sans-serif; font-size: 35px; font-weight: bold; text-align: center; text-shadow: 0px 0px 5px rgba(20, 20, 20, 0.6);"><a href="" style="text-decoration: none;"> </a></div>
		</div>
		
		<div class="bottommessage" style="color: #323b40; font-family: Gill Sans MT, sans-serif; font-size: 30px; font-weight: bold; margin-top: 12px; text-align: center;">
			Your submission is now <div class="downloadcount" style="color: #f75858; display: inline-block;">available</div> to the public
		</div>
		
	</div>

</body>
</html>
