<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>

	<style>
	

		body {
			margin: 0;
			
		}
		
		a {
			text-decoration:none;
		}

		a:link {
			color: #aaafc0;
			text-decoration:none;
		}


		a:visited {
			color: #aaafc0;
			text-decoration:none;
		}


		a:hover {
			color: #aaafc0;
			text-decoration:none;
		}


		a:active {
			color: #aaafc0;
			text-decoration:none;
		}
	
		.fullmessagewrap {
			width:700px;
			height:450px;
			background-color: #ecf0f6;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(156,156,156,1);
			-moz-box-shadow: 0px 0px 5px 0px rgba(156,156,156,1);
			box-shadow: 0px 0px 5px 0px rgba(156,156,156,1);
			margin:0 auto;
			margin-top:25px;
		}
		
		.messageheader {
			height:57px;
			width:100%;
			background-color: #2a2a2a;
			position:relative;
			z-index:1;
		}
		
		.imgheader {
			font-size:42px;
			color:white;
			font-family: Gill Sans MT, sans-serif;
			width:100%;
			height:57px;
			font-weight:bold;
		}
		
		.whitecongratswrap {
			height:155px;
			width:100%;
			text-align:center;
		}
		
		.innercongratswrap {
			width:623px;
			height:121px;
			background-color: #58f77d;
			margin:0 auto;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			box-shadow: inset 0px 0px 3px 0px #A1A1A1;
			-webkit-box-shadow: inset 0px 0px 3px 0px #A1A1A1;
			-moz-box-shadow: inset 0px 0px 3px 0px #A1A1A1;
			-o-box-shadow: inset 0px 0px 3px 0px #A1A1A1;
			display:inline-block;
			
		}
		
		h1.congrats {
			font-size:75px;
			margin-top:16px;
			font-family: Brush Script MT, sans-serif;
			color: #fff;
			text-shadow: 0px 0px 4px rgba(50, 50, 50, 0.5);
		}
		
		.congratsspacer {
			height:17px;
		}
		
		.fullmapshowcasewrap {
			width:100%;
			height:174px;
			background-color: #323b40;
			-moz-box-shadow:    inset  0  8px 8px -8px #000, 
								inset  0 -8px 8px -8px #000;
			-webkit-box-shadow: inset  0  8px 8px -8px #000, 
								inset  0 -8px 8px -8px #000;
			 box-shadow:        inset  0  8px 8px -8px #000, 
								inset  0 -8px 8px -8px #000;
		}
		
		.imageswrap {
			height:125px;
			width:645px;
			padding-left:55px;
		}
		
		.imageholders {
			height:101px;
			width:180px;
			display:inline-block;
			margin-right: 20px;
			margin-top:15px;
			-webkit-box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5);
			-moz-box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5);
			box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5);
		}
		
		.mapname {
			font-family: sans-serif;
			color:aaafc0;
			font-weight:bold;
			font-size: 35px;
			text-align:center;
			text-shadow: 0px 0px 5px rgba(20, 20, 20, 0.6);
		}
		
		.bottommessage {
			text-align:center;
			color: #323b40;
			font-family: Gill Sans MT, sans-serif;
			font-size:30px;
			font-weight:bold;
			margin-top:12px;
		}
		
		.downloadcount {
			color: #f75858;
			display:inline-block;
		}
		
		.optout {		
			width:440px;
			font-family: Gill Sans MT, sans-serif;
			font-size:14px;
			text-align:center;
			margin:0 auto;
			margin-top:30px;
			padding:4px;
			color:rgb(90,90,90);
		}

	</style>
</head>


<body>

	<div class="fullmessagewrap">
		<div class="messageheader">
			<a href="#{root_url}"><img class="imgheader" src="#{full_image_path('emailheader.png')}" alt="Mods-Unturned" /></a>
		</div>
		
		<div class="whitecongratswrap">
			<div class="congratsspacer"></div>
			<div class="innercongratswrap">
				<h1 class="congrats"> APPROVED! </h1>
			</div>
		</div>
		
		<div class="fullmapshowcasewrap">
			<div class="imageswrap">
				<img class="imageholders" src="testimage.jpg" alt="Screenshot" />
				<img class="imageholders" src="testimage.jpg" alt="Screenshot" />
				<img class="imageholders" src="testimage.jpg" alt="Screenshot" />
			</div>
			<div class="mapname"><a href="#{submission_url(@submission)}"> <%= @submission.name %> </a></div>
		</div>
		
		<div class="bottommessage">
			Your submission is now <div class="downloadcount">available</div> to the public
		</div>
		
		<div class="optout">
			Don't want to receive emails from Mods-Unturned? <a href="#{unsubscribe_url}"><u>Unsubscribe</u></a>
		</div>
		
	</div>

</body>


</html>
