<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>

	<style>
	

		body {
			margin: 0;
			
		}

		a {
			text-decoration:none;
		}

		a:link {
			color: #f75858;
			text-decoration:none;
		}


		a:visited {
			color: #f75858;
			text-decoration:none;
		}


		a:hover {
			color: #f75858;
			text-decoration:none;
		}


		a:active {
			color: #f75858;
			text-decoration:none;
		}
		
		ul {
			list-style-type:none;
			padding-left:0;
		}
	
		.fullmessagewrap {
			width:700px;
			height:450px;
			background-color: #ecf0f6;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(156,156,156,1);
			-moz-box-shadow: 0px 0px 5px 0px rgba(156,156,156,1);
			box-shadow: 0px 0px 5px 0px rgba(156,156,156,1);
			margin:0 auto;
			margin-top:25px;
		}
		
		.messageheader {
			height:57px;
			width:100%;
			background-color: #2a2a2a;
			position:relative;
			z-index:1;
		}
		
			.imgheader {
			font-size:42px;
			color:white;
			font-family: Gill Sans MT, sans-serif;
			width:100%;
			height:57px;
			font-weight:bold;
		}
		
		.whitecongratswrap {
			height:175px;
			width:100%;
		}
		
		.innercongratswrap {
			width:100%;
			height:40px;
			background-color: #f75858;
			box-shadow: inset 0px 0px 3px 0px #A1A1A1;
			-webkit-box-shadow: inset 0px 0px 3px 0px #A1A1A1;
			-moz-box-shadow: inset 0px 0px 3px 0px #A1A1A1;
			-o-box-shadow: inset 0px 0px 3px 0px #A1A1A1;
			display:inline-block;
			text-align:center;
		}
		
		h1.congrats {
			font-size:25px;
			margin-top:6px;
			font-family: Brush Script MT, sans-serif;
			color: #fff;
			text-shadow: 0px 0px 4px rgba(50, 50, 50, 0.5);
		}
		
		.congratsspacer {
			height:17px;
		}
		
		.commentwrap {
			margin-left: 100px;
			margin-top:15px;
		}
		
		.comment {
			background-color:rgb(252,252,252);
			width:500px;	
			height:78px;
			padding:7px;
			-webkit-box-shadow: inset 0px 0px 3px 0px #a4a4a4;
			-moz-box-shadow: inset 0px 0px 3px 0px #a4a4a4;
			-o-box-shadow: inset 0px 0px 3px 0px #a4a4a4;
			font-family: Brush Script MT, sans-serif;
			overflow-y:auto;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
		
		.uploader {
			display:inline-block;
			font-weight:bold;
		}
		
		.fullmapshowcasewrap {
			width:100%;
			height:174px;
			background-color: #323b40;
			-moz-box-shadow:    inset  0  8px 8px -8px #000, 
								inset  0 -8px 8px -8px #000;
			-webkit-box-shadow: inset  0  8px 8px -8px #000, 
								inset  0 -8px 8px -8px #000;
			 box-shadow:        inset  0  8px 8px -8px #000, 
								inset  0 -8px 8px -8px #000;
		}
		
		.imageswrap {
			height:125px;
			width:100%;
			text-align:center;
		}
		
		ul li {
		    font-family: Brush Script MT, sans-serif;
			color:#aaafc0;
			font-weight:bold;
			margin:8px;
		}
		
		.imageholders {
			height:101px;
			width:180px;
			display:inline-block;
			margin-right: 20px;
			margin-top:15px;
			-webkit-box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5);
			-moz-box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5);
			box-shadow: 0px 0px 3px 0px rgba(23,23,23,0.5);
		}
		
		.mapname {
			font-family: sans-serif;
			color:#aaafc0;
			font-weight:bold;
			font-size: 35px;
			text-align:center;
			text-shadow: 0px 0px 5px rgba(20, 20, 20, 0.6);
			height:35px;
			padding-top:4px;
		}
		
		.bottommessage {
			text-align:center;
			color: #323b40;
			font-family: Gill Sans MT, sans-serif;
			font-size:20px;
			font-weight:bold;
			margin-top:11px;
		}
		
		.downloadcount {
			color: #f75858;
			display:inline-block;
		}
		
		.highlight {
			color: #f75858;
		}
		
		.optout {		
			width:440px;
			font-family: Gill Sans MT, sans-serif;
			font-size:14px;
			text-align:center;
			margin:0 auto;
			margin-top:30px;
			padding:4px;
			color:rgb(90,90,90);
		}

		a.unsubscribe:link {
			color: #aaafc0;
			text-decoration:none;
		}


		a.unsubscribe:visited {
			color: #aaafc0;
			text-decoration:none;
		}

		a.unsubscribe:active {
			color: #aaafc0;
			text-decoration:none;
		}
		
		
	</style>
</head>


<body>

	<div class="fullmessagewrap">
		<div class="messageheader">
			<img class="imgheader" src="imgheader.png" alt="Mods-Unturned" />
		</div>
		
		<div class="whitecongratswrap">
			<div class="congratsspacer"></div>
			<div class="innercongratswrap">
				<h1 class="congrats"> Your submission has been denied.</h1>
			</div>
			<div class="commentwrap">
				<div class="comment"><div class="uploader">Reason:</div> Work is not original.</div>
			</div>
		</div>
		
		<div class="fullmapshowcasewrap">
			<div class="mapname"> Our Rules </div>
			<div class="imageswrap">
				<ul>
					<li> All work must be <span class="highlight">original</span> unless permission is given from original creator </li>
					<li> You must have at least one screenshot showing <span class="highlight">in-game</span> content </li>
					<li> Your upload cannot include any <span class="highlight">executable</span> files </li>
					<li> You may not upload the site's content <span class="highlight">elsewhere</span> without creator's permission </li>
				</ul>
			</div>
		</div>
		
		<div class="bottommessage">
			Believe your submission was wrongfully denied? <div class="downloadcount"><a href=""> Contact Us </a></div>
		</div>
		
		<div class="optout">
			Don't want to receive emails from Mods-Unturned? <a class="unsubscribe" href=""><u>Unsubscribe</u></a>
		</div>
			
	</div>

</body>


</html>
