<html>
<head>


	
</head>


<body style="font-family: 'Arimo', Impact, sans-serif; margin: 0;">
	<div class="emailwrap effect7" style="background-color: rgb(219,219,219); border: 1px solid rgb(205,205,205); height: 320px; margin-left: 5px; margin-top: 30px; position: relative; text-align: center; width: 600px;">
	<div class="logotop" style="background-color: rgb(20,20,20); background-image: url(wallpaper3.png); background-position: top-left; background-repeat: repeat-x; height: 50px; text-align: center; width: 100%;"> <img class="logo" src="logo.png" alt="Mods-Unturned.com" style="margin-top: 5px;"></div>
		<div class="inner-message-wrap" style="-moz-border-radius: 6px; -moz-box-shadow: 0px -1px 6px 0px rgba(100, 100, 100, 0.12); -webkit-border-radius: 6px; -webkit-box-shadow: 0px -1px 6px 0px rgba(100, 100, 100, 0.12); background-color: rgb(245,245,245); border-radius: 6px; box-shadow: 0px -1px 6px 0px rgba(100, 100, 100, 0.12); display: inline-block; height: 240px; margin-top: 15px; width: 95%;"> 
		
			<!-- MILESTONS -->
			<div class="messagetitle" style="display: inline-block;">
				<h1> Congratulations! </h1>
			</div>		
			<div class="messagebody">
				<span class="mapname" style="color: #2146FF; font-weight: bold;"> WickerVille</span> has reached a new milestone!
				<br><br>
				<div class="downloadcount" style="-moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #4AFF6B; border-radius: 5px; font-size: 50px; font-weight: bold; height: 82px; margin: 0 auto; max-width: 450px; padding-top: 25px;">
				5000 Downloads
				</div>
			</div>
			
			
		</div>
		
	
	</div>





</body>


</html>
