<div id="add-video" class="add-video-popup mfp-hide">
  <p>
    <%= t '.please_be' %>
  </p>

  <%= form_for([@submission, @submission.videos.build]) do |f| %>
  <%= f.label :url, 'URL:' %>
  <p>
  <%= f.text_field :url, autocomplete: 'off', class: 'text-box', style: 'width: 87%; display: inline;', placeholder: 'Youtube videos only' %>

    <%= f.submit 'Submit', class: 'text-box', style: 'display: inline;' %>
  </p>
  <% end %>
</div>

<script>
  $('.add-video-button').magnificPopup({
    type:'inline',
    midClick: true
  });
</script>