<div id="footerpage">
	<table class="footertable">
		<tr>
			<td><a href=<%= about_path %>>About</a></td>
			<td><a href="">Contact</a></td>
			<td><a href=<%= new_submission_path %>>Submit</a></td>
		</tr>
		<tr>
			<td colspan="3" class="socialmedialogos">
				<%= link_to image_tag('facebook.png', class: 'socialmediaimg'), "https://www.facebook.com/pages/Mods-Unturnedcom/846719095349217" %>
				<%= link_to image_tag('twitter.png', class: 'socialmediaimg'), "https://twitter.com/Mods_Unturned" %>
				<%= link_to image_tag('google.png', class: 'socialmediaimg'), "" %>
				<%= link_to image_tag('youtube.png', class: 'socialmediaimg'), "" %>
			</td>
		</tr>
	</table>
</div>	