<div id="footerpage">
	<table class="footertable">
		<tr>
			<td><a href=<%= about_path %>>About</a></td>
			<td><a href="#contact-popup" class='contact-button'>Contact</a></td>
			<td><a href=<%= new_submission_path %>>Submit</a></td>
		</tr>
		<tr>
			<td colspan="3" class="socialmedialogos">
				<%= link_to image_tag('facebook.png', class: 'socialmediaimg'), "https://www.facebook.com/pages/Mods-Unturnedcom/846719095349217" %>
				<%= link_to image_tag('twitter.png', class: 'socialmediaimg'), "https://twitter.com/Mods_Unturned" %>
				<%= link_to image_tag('google.png', class: 'socialmediaimg'), "https://plus.google.com/103886656948838780928/about" %>
				<%= link_to image_tag('youtube.png', class: 'socialmediaimg'), "" %>
			</td>
		</tr>
	</table>
</div>
<div id="contact-popup" class="mfp-hide">
	<p>
		Please allow up to 48 hours for the Mods-Unturned team to reply to your email (most likely sooner).
	</p>
	<%= form_tag contact_path, method: 'POST' do %>
	<%= label_tag 'Username '%><%= text_field :contact, :username, class: 'contactboxes', value: current_user ? current_user.username : "" %>
	<%= label_tag 'Email ' %><%= email_field :contact, :email, class: 'contactboxes', value: current_user ? current_user.email : "" %>
	<%= label_tag 'Message ' %><%= text_area :contact, :inquiry, class: 'contactboxes', rows: 7 %>
	<%= submit_tag 'Send', class: 'contactsubmitbutton' %>
	<% end %>
</div>
<script>
	$('.contact-button').magnificPopup({
		type:'inline',
		midClick: true
	});
</script>