#tabs
  .home
    %a{:href => root_path}
      %h3 Home
  .upload
    %a{:href => new_submission_path}
      %h3 Upload
  .menuwrap
    .menu.effect1
      .menuitem
        - if params[:controller] == "submissions" and params[:user]
          = link_to "<div class='menutext'> #{current_user ? 'Logout' : 'Login'}</div>".html_safe,destroy_user_session_path, :method => :delete
        - else
          %a{:href => current_user ? user_uploads_path(current_user.username) : new_user_registration_path}
            .menutext= current_user ? current_user.username : 'Login'
      .menuitem
        %a{:href => projects_path(:type => "levels")}
          .menutext Levels
      .menuitem
        %a{:href => projects_path(:type => "models")}
          .menutext Models
      .menuitem
        %a{:href => ""}
          .menutext Search