#tabs
  .home
    %a{:href => root_path}
      %h3 Home
  .upload
    %a{:href => new_submission_path}
      %h3 Upload
  .menuwrap{:style => ""}
    .menu.effect1
      .menuitem
        %a{:href => current_user ? user_uploads_path(current_user.username) : new_user_session_path}
          .menutext= current_user ? current_user.username : 'Login'
      .menuitem
        %a{:href => root_path}
          .menutext Levels
      .menuitem
        %a{:href => root_path}
          .menutext Models
      .menuitem
        %a{:href => root_path}
          .menutext Search