#headerpage
  .headerwrap
    %img{:border => "0", :height => "80", :src => "#{image_path('header.png')}", :usemap => "#map", :width => "860", :hidefocus => "true"}/
    %map{:name => "map"}
      %area{:alt => "Unturned Mods", :coords => "0,5,226,34", :href => root_path, :shape => "rect", :target => "_self"}/
      %area{:alt => "Login", :coords => "273,67,13", :href => new_user_session_path, :shape => "circle", :target => "_self"}/
      %area{:alt => "Unturned Levels", :coords => "363,52,393,77", :href => projects_path(:type => "levels"), :shape => "rect", :target => "_self"}/
      %area{:alt => "Unturned Models", :coords => "470,52,496,77", :href => projects_path(:type => "models"), :shape => "rect", :target => "_self"}/
      %area{:alt => "Search Unturned Mods", :coords => "577,53,600,76", :href => root_path, :shape => "rect", :target => "_self"}/
#tabs
  .home
    %a{:href => root_path}
      %h3 Home
  .upload
    %a{:href => new_submission_path}
      %h3 Upload
  .menuwrap
    .menu.effect1
      .menuitem
        - if params[:controller] == "submissions" and params[:user]
          = link_to "<div class='menutext'> #{current_user ? 'Logout' : 'Login'}</div>".html_safe,destroy_user_session_path, :method => :delete
        - else
          %a{:href => current_user ? user_uploads_path(current_user.username) : new_user_registration_path}
            .menutext= current_user ? current_user.username : 'Login'
      .menuitem
        %a{:href => projects_path(:type => "levels")}
          .menutext Levels
      .menuitem
        %a{:href => projects_path(:type => "models")}
          .menutext Models
      .menuitem
        %a{:href => ""}
          .menutext Search