<div class="mainscreen">
  <%= image_tag("#{@submission.main_image ? @submission.main_image.image_url : 'uploadthumb.png'}", class: 'mainthumblarge') %>
</div>
<div class="screenshots">
  <% 6.times do |count| %>
  <% thumb = @submission.thumbnails[count] %>
  <% if thumb %>
  <a class='valid-thumb' href="<%= thumb.image_url %>">
    <img class="levelthumb" src="<%= thumb.image_url %>" title="Map Thumbnail"/>
  </a>
  <% else %>
  <a>
    <%= image_tag 'smallthumb.png', class: 'levelthumb', title: "Placeholder" %>
  </a>
  <% end %>
  <% end %>
  <script>
    $('.screenshots').magnificPopup({
      delegate: '.valid-thumb',
      type: 'image',
      gallery: {
        enabled: true
      }
    });
  </script>
</div>