<div id="centerpage">
  <%= render 'shared/tabs' %>
  <div class="box effect1">
    <h2>
      <%= @category.titleize %>
    </h2>
  </div>
  <div id="mainpage">
    <%= render 'submissions', submissions: @submissions, sorting: true, pagination: true %>
  </div>
</div>
