<div>
  <div id="centerpage">
    <%= render 'shared/tabs' %>
    <div id="mainpagewrap">
      <div class="box effect1">
        <h2><%= @title %></h2>
        <div class="mainpageleft">
          <div class="sorting">
            <% if params[:sort] == "newest" || !params[:sort] %>
            <b>
              <%= link_to 'Newest First', params.merge(:sort => "newest") %>
            </b>
            <% else %>
            <%= link_to 'Newest First', params.merge(:sort => "newest") %>
            <% end %>
            <% if params[:sort] == "popular" %>
            &bull;  
            <b>
              <%= link_to 'Most Popular', params.merge(:sort => "popular") %>
            </b>
            <% else %>
            &bull;  
            <%= link_to 'Most Popular', params.merge(:sort => "popular") %>
            <% end %>
            <% if params[:sort] == "updated" %>
            &bull;
            <b>
              <%= link_to 'Recently Updated', params.merge(:sort => "updated") %>
            </b>
            <% else %>
            &bull;
            <%= link_to 'Recently Updated', params.merge(:sort => "updated") %>
            <% end %>
          </div>
          <%= @submissions.each do |submission| %> 
            <% main_image = submission.get_cached_image %>
            <% username = submission.get_username %>
            <div class="content" %>
              .content
              <a href=<%= submission_path(submission) %>>
                <%= link_to image_tag("#{if main_image then main_image else 'uploadthumb.png' end}", class: 'levelthumb'), submission %>
              </a>
              <div class="contentdetails">
                <h4>
                  <a href=<%= submission_path(submission) %>>
                    <%= submission.name %>
                  </a>
                  <% if submission.is_new? %>
                  <span class="item-tag">NEW!</span>
                  <% elsif submission.is_updated? %>
                  <span class="item-tag">UPDATED!</span>
                  <% end %>
                </h4>
                <div class="madebyuser">
                  <div class="madebyuser">
                    <%= link_to username, user_uploads_path(username) %>
                    <div class="downloadcount">
                      &bull;
                      <%= submission.download_count %>
                      <%= image_tag("downarrow.png") %>
                    </div>
                    </div>
                </div>
              </div>
            </div>
          <% end %>
          <div id="mainpage" style="margin-bottom: 2px !important;"/>
          <div id="paginator" align="center", style: "padding: 5px;">
            <%= paginate @submissions %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>