<div id="centerpage">
  <%= render 'shared/tabs' %>
  <div class="box effect1">
    <h2>
      <%= @category.titleize %>
    </h2>
  </div>
  <div id="mainpage">
    <%= render 'submissions', submissions: @submissions, sorting: true, pagination: true %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Mods-Unturned -->
    <ins class="adsbygoogle"
         style="display:block;margin:0 auto;margin-top: 25px;width:728px;height:90px;padding: 10px;background-color: #f5f5f5;box-shadow: 0px -1px 6px 0px rgba(100,100,100,0.12);border-radius: 3px;margin-bottom: 5px;"
         data-ad-client="ca-pub-3000890138855017"
         data-ad-slot="2920237782"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

</div>
