<div id="centerpage">
  <%= render 'shared/tabs' %>
  <div class="box effect1">
    <h2>
      <%= t('submissions.results') %>
    </h2>
  </div>
  <div id="mainpage">
    <%= render 'submissions', submissions: @submissions, pagination: true, sorting: false %>
  </div>
</div>
