/*
 *= require main
 *= require admin
 *= require magnific-popup/dist/magnific-popup
 *= require nivo-slider
 *= require_self
 */
 
 .mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.accordion-toggle {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 2px 0px 0px;
  padding: 0.5em 0.5em 0.5em 0.7em;
  min-height: 0px;
  border: 1px solid #AAA;
  background: white;
  color: #212121;
  border-radius: 3px 3px 0 0;
}
.accordion-content {
  display: none;
  padding: 1em 2.2em;
  border: 1px solid #AAA;
  border-top: 0px none;
  overflow: auto;
  background-color: white;
}
.accordion-content.default {
  display: block;
}
