.form-input {
  display: block;
  margin-bottom: 5px;
}

.form-input label, .form-input input {
  display:block;
}


#blog_post_body {
  width: 500px;
}

#new_blog_post, .edit_blog_post {
  margin-top: 10px;
  margin-left: 30px;
}

.hint {
  color: gray;
}

.hint a:link, .hint a:visited {
  color: #6FA5B7;
}

.blogpost {
  margin-left: 30px;
}

.post-author{
  color: gray;
  font-size: 60%;
}

.post-author a:link, .post-author a:visited {
  color: gray;
}

.management {
  float: right;
  padding-right: 10px;
}