#sidebar {
	width:50px;
	height:700px;
	background-color: white;
}

.headerwrap {
	width:860px; 
	text-align:center; 
	margin:0 auto;
}


.menu {
	display:inline-block;
	width:420px; 
	/*height:70%; */
	height:29px;
	background-color:#F9F9F9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.menuitem {
	height:100%;
	width:25%;
	background-color:#E2E2E2;
	float:left;
	border:none;
	margin:0;
	background: rgba(249,249,249,1);
	background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(0,0,0,1) 0%, rgba(249,249,249,1) 0%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(0%, rgba(249,249,249,1)), color-stop(100%, rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(0,0,0,1) 0%, rgba(249,249,249,1) 0%, rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(0,0,0,1) 0%, rgba(249,249,249,1) 0%, rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(0,0,0,1) 0%, rgba(249,249,249,1) 0%, rgba(226,226,226,1) 100%);
	background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(0,0,0,1) 0%, rgba(249,249,249,1) 0%, rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e2e2e2', GradientType=0 );
}

.menuitem:hover {
	background-color:#F9F9F9;
	-o-transition:.1s ease-in-out;
	-ms-transition:.1s ease-in-out;
	-moz-transition:.1s ease-in-out;
	-webkit-transition:.1s ease-in-out;
	/* ...and now for the proper property */
	transition:.1s ease-in-out;
	border-bottom:2px solid #70b0e0;
}

.menu div:first-child {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu div:last-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}


.menuitem a{
	color:#1C1C1C;
}

.menuitem a:hover {
	text-decoration:underline;
}

.menutext {
	padding-top:6px;
	vertical-align:middle;
	font-family:'Arial', Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
}

/* NOT IN USE */
.submenuitem {
	display:none;
	background-color:#E2E2E2;
	margin-top:4px;
	margin-left:3px;
	height:30px;
	width:110px;
	border-radius:none;
	/*border-bottom:2px solid #5F5F5F;
	outline: 1px solid #CECECE;*/
	z-index:5;
	position:absolute;
	margin-right:300px;
	opacity:0.85;
}


.menuitem:first-child:hover .submenuitem {
	display:block;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.menuitem:last-child:hover .submenuitem {
	display:block;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
/* END OF NOT IN USE */

#mainpage {
	width:860px; 
	height:740px; 
	margin-bottom:40px;
}

/* 538 and 320 */
.mainpageright {
	width:558px; 
	height:100%; 
	float:right; 
	margin-right:20px;

}

.mainpageleft {
	width:300px; 
	height:100%; 
	float:left; 
	margin-left:20px;
}

.mainthumblarge {
	width:96%;
	height: 253px;
	/*height:253;*/
	margin-left:2%; 
	margin-top:2%; 
	outline:1px solid black; 
	float:left;
}

/* download button text */
h4.download {
	font-size:35px; 
	text-align:center; 
	font-family:'Arial', Helvetica, sans-serif; 
	text-align:center; 
	margin:0; 
	padding:20px;
}

.downloadbutton {
	background-color:#E2E2E2; 
	width:100%; 
	height:80px; 
	margin-bottom:20px;
	text-decoration:none;
	/*border-left:5px solid #505050;*/
	/*-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;*/
	/*border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;*/
	-webkit-box-shadow: 0px 1px 4px 0px rgba(20, 20, 20, 0.42);
	-moz-box-shadow:    0px 1px 4px 0px rgba(20, 20, 20, 0.42);
	box-shadow:         0px 1px 4px 0px rgba(20, 20, 20, 0.42);
}

a {
	text-decoration:none;
}

a:link {
	color:#464646;
}

a:visited{
	color:#464646;
}

/* Div on the side with info such as title and description */
.infosection {
	background-color:#EBEBEB; 
	width:100%; 
	height:740px; 
	/*margin-bottom:20px;*/
	/*border-left: 5px solid #54D282;*/
	/*-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;*/
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.12);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.12);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.12);
}

.profile {
	width:94%;
	margin-left:3%;
	background-color:#F9F9F9;
	height:60px;
	border: 1px dashed #D7D7D7;
}

.profile:hover {
	border: dashed 1px #D0D0D0;
	-o-transition:.1s ease-in-out;
	-ms-transition:.1s ease-in-out;
	-moz-transition:.1s ease-in-out;
	-webkit-transition:.1s ease-in-out;
	/* ...and now for the proper property */
	transition:.1s ease-in-out;
}

.avatar {
	width:60px;
	height:60px;
	float:left;
}

.username {
	color: #2146FF;
	margin-left: 65px;
	margin-top: 3px;
	font-weight:bold;
}

.userdescription {
	margin-left: 65px;
}

.stats {
	margin-left: 65px;
}

p {
	color: #141414;
	font-family:'Arial', Helvetica, sans-serif;
}

/* title of mod in infosection */
p.title {
	padding-top:0px;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold;
}

p.dateupload {
	padding-left: 10px;
	font-size: 18px;
}

p.description {
	padding-left: 10px;
	padding-right:10px;
	font-size: 14px;
}

p.uploadby {
	padding-left: 10px;
	padding-right:10px;
	font-size: 14px;
}

hr {
	margin-left:7px;
	margin-right:7px;
}

.downloadbutton:hover {
	-o-transition:.2s ease-in-out;
	-ms-transition:.2s ease-in-out;
	-moz-transition:.2s ease-in-out;
	-webkit-transition:.2s ease-in-out;
	/* ...and now for the proper property */
	transition:.2s ease-in-out;
	background-color: #32C75F!important;

}



.mainscreen {
	background-color:#E5E5E5; 
	width:96%; 
	height:280px; 
	margin-bottom:20px;
	margin-left:2%;
	margin-top:2%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.12);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.12);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.12);
} 

.screenshots {
	background-color:#EBEBEB;
	width:92%; 
	height:200px; 
	margin-bottom:0px;
	margin-left:4%;
	text-align:center;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.12);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.12);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.12);
	text-align: center;
	border-top:1px solid #C6C6C6;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

}

.screenshots img {
	text-align: center;
	outline: 1px solid #BEBEBE;
	margin:0 auto;
	display:ineline-block;
	margin-left:9px; 
	margin-right:9px;
	margin-top:13px; 
}

.levelthumb {
	opacity:0.9;
	height:80px;
}

.levelthumb:hover {
	opacity:1;

}

.comments {
	background-color:#E5E5E5; 
	width:96%; 
	height:150px; 
	margin-top:20px;
	margin-bottom:0px;
	margin-left:2%;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.12);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.12);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.12);

}

.comment1 {
	width:100%;
	height:30px;
	background-color:#EBEBEB;
	border-top: 1px solid  #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}

.comment2 {
	width:100%;
	height:30px;
}

.feedback {
	width:94%;
	height:30px;
	margin-left:3%;
	margin-top: -10px;
	margin-bottom:5px;
	background: #F3F3F3;
	outline: none;
	display: block;
	padding: 4px 8px;
	border: 1px dashed #D7D7D7;
	color: #3F3F3F;
	font-family: 'Droid Sans', Tahoma, Arial, Verdana sans-serif;
	font-size: 14px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: background 0.2s linear, box-shadow 0.6s linear;
	-moz-transition: background 0.2s linear, box-shadow 0.6s linear;
	-o-transition: background 0.2s linear, box-shadow 0.6s linear;
	transition: background 0.2s linear, box-shadow 0.6s linear;
}

.feedback:focus {
	background: #F9F9F9;
	border: dashed 1px #74D5DF;
	-webkit-box-shadow: 2px 2px 7px #E8E8E8 inset;
	-moz-box-shadow: 2px 2px 7px #E8E8E8 inset;
	box-shadow: 2px 2px 7px #E8E8E8 inset;
}   


.videosection {
	background-color:#E2E2E2; 
	width:100%; 
	height:80px; 
	margin-top:20px;
	margin-bottom:20px;
	text-decoration:none;
	/*border-left:5px solid #505050;*/
	/*-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;*/
	/*border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;*/
	-webkit-box-shadow: 0px 1px 4px 0px rgba(20, 20, 20, 0.42);
	-moz-box-shadow:    0px 1px 4px 0px rgba(20, 20, 20, 0.42);
	box-shadow:         0px 1px 4px 0px rgba(20, 20, 20, 0.42);
}