* {
	font-family: 'Arimo', Helvetica, sans-serif;
}

a:link {
	text-decoration:none;
	color: #141414;
}

a:visited{
	color:#141414;
}

#mainpagewrap {
	width: 900px; 
	height:1240px; 
	margin: 0 auto; 
	margin-bottom:10px;
}

#mainpage {
	width:860px; 
	height:1240px;
	/*background-color:rgb(217,217,217);*/
}

.mainpageleft {
	width:860px; 
	height:100%; 
	float:left; 
	margin-left:20px;
	/*border-right:1px dashed #C3C3C3;*/
	border:none;
}

.mainpageright {
	width:430px; 
	height:100%; 
	float:right; 
	margin-right:20px;
	/*border-left:1px dashed #C3C3C3;*/
	border:none;
	
}

/* div for each individual level or model */
.content {
	background-color:rgb(245,245,245); /*EBEBEB*/ 
/*background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #EBEBEB),
	color-stop(1, #DCDCDC)
);
background-image: -o-linear-gradient(bottom, #EBEBEB 0%, #DCDCDC 100%);
background-image: -moz-linear-gradient(bottom, #EBEBEB 0%, #DCDCDC 100%);
background-image: -webkit-linear-gradient(bottom, #EBEBEB 0%, #DCDCDC 100%);
background-image: -ms-linear-gradient(bottom, #EBEBEB 0%, #DCDCDC 100%);
background-image: linear-gradient(to bottom, #EBEBEB 0%, #DCDCDC 100%);*/
	/*width:428px;*/
	width:418px;
	/*border-left:5px solid #505050;*/
	height:105px; 
	margin-top:15px;
	margin-left:5px;
	/*-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;*/
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
	
-webkit-box-shadow: 0px -1px 6px 0px rgba(100, 100, 100, 0.12);
-moz-box-shadow:    0px -1px 6px 0px rgba(100, 100, 100, 0.12);
box-shadow:         0px -1px 6px 0px rgba(100, 100, 100, 0.12);
display:inline-block;



/*-webkit-box-shadow: 0px -2px 6x 0px rgba(100,100,100,0.15);
-moz-box-shadow: 0px -2px 6px 0px rgba(100,100,100,0.15);
box-shadow: 0px -2px 6px 0px rgba(100,100,100,0.15);*/
/*border-bottom: 1px solid #D5D5D5;*/
/*border-top:1px solid #D5D5D5;*/
border: 1px solid #C3C3C3;
}

/*#D8D8D8 original content color */

.content:hover {
	/*border-left:5px solid #1C1C1C;*/
	
	  -o-transition:.1s ease-in-out;
  -ms-transition:.1s ease-in-out;
  -moz-transition:.1s ease-in-out;
  -webkit-transition:.1s ease-in-out;
  /* ...and now for the proper property */
  transition:.1s ease-in-out;
background-color: rgb(250,250,250)!important;
border-radius:0;


}

/* right side for models */
.content2 {
	background-color:rgb(245,245,245); /*EBEBEB*/ 
/*background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #EBEBEB),
	color-stop(1, #DCDCDC)
);
background-image: -o-linear-gradient(bottom, #EBEBEB 0%, #DCDCDC 100%);
background-image: -moz-linear-gradient(bottom, #EBEBEB 0%, #DCDCDC 100%);
background-image: -webkit-linear-gradient(bottom, #EBEBEB 0%, #DCDCDC 100%);
background-image: -ms-linear-gradient(bottom, #EBEBEB 0%, #DCDCDC 100%);
background-image: linear-gradient(to bottom, #EBEBEB 0%, #DCDCDC 100%);*/
	/*width:428px;*/
	width:418px;
	/*border-left:5px solid #505050;*/
	height:105px; 
	margin-top:15px;
	margin-left:5px;
/*-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomright: 6px;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;*/

	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.12);
-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.12);
box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.12);

border: 1px solid #C3C3C3;
display:inline-block;
}

.content2:hover {
/*border-right:5px solid #5495D2;*/
	  -o-transition:.1s ease-in-out;
  -ms-transition:.1s ease-in-out;
  -moz-transition:.1s ease-in-out;
  -webkit-transition:.1s ease-in-out;
  /* ...and now for the proper property */
  transition:.1s ease-in-out;
background-color: #EEEEEE!important;
border-radius:0px;
}

/*thumbnail for each mod on index */
.levelthumb {
	height:88px; 
	width:150px;
	margin-left:8.5px; 
	margin-top:8.5px; 
	outline:1px solid rgb(150,150,150); 
	float:left;
}

/* Mod description next to thumb */
.contentdetails {
	margin-left:170px; 
	padding-top:10px;
	margin-right:5px;
}

/* Who made the mod, labeled in every content box*/
.madebyuser {
	font-size:13px;
	color:#473AFA;
	/*font-family:'Arial', Helvetica, sans-serif;*/
	font-family: 'Arimo', sans-serif;
}

.downloadcount {
	display: inline-block;
	color:rgb(100,100,100);
}

.downloadcount img {
	width:11px;
	vertical-align:bottom;
	padding-bottom:2px;
}

/* Mod (content) titles */
h4 {
	margin:0;
	/*font-family:'Arial', Helvetica, sans-serif;*/
	font-family: 'Arimo', sans-serif;
	letter-spacing:1px;
}


h4 a:hover {
	text-decoration:underline;
}

.contentdesc {
	font-family: 'Arimo', sans-serif; 
	font-size:14px; 
	margin-top:5px;
}

/*div for bottom of page, currently not in use */
.footer {
	height:30px;
	width:100%;
	background-color:#1C1C1C;
	margin-top:20px;
	opacity:1;
	text-align:center
}

/* Next Page Button at bottom of page */
p.next {
	margin-top:5px;
	margin-bottom:25px;
	float:right;
	display:inline-block;
	color:white;
	font-family:'Arial', Helvetica, sans-serif;
}

/*Previous Page Button at bottom of page */
p.previous {
	margin-top:5px;
	margin-bottom:25px;
	float:left;
	display:inline-block;
	color:white;
	font-family:'Arial', Helvetica, sans-serif;
}

/*text in footer */
.footertext {
	color: white;
}