a.modsubmissiontitlelink:link {
  text-decoration: none;
  color: #141414;
}
a.modsubmissiontitlelink:visited {
  color: #141414;
}
.sorting {
  width: 100%;
  text-align: center;
  height: 8px;
  margin-top: 5px;
  font-size: 14px;
  margin-left: 0px;
}
.modsubmissionwrap {
  background-color: rgb(245, 245, 245);
  width: 432px;
  height: 110px;
  margin-top: 18px;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px -1px 6px 0px rgba(100, 100, 100, 0.12);
  -moz-box-shadow: 0px -1px 6px 0px rgba(100, 100, 100, 0.12);
  box-shadow: 0px -1px 6px 0px rgba(100, 100, 100, 0.12);
  display: inline-block;
  border: 1px solid #C3C3C3;
  vertical-align: top;
}
.modsubmissionwrap:hover {
  -o-transition: .1s ease-in-out;
  -ms-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  background-color: rgb(250, 250, 250) !important;
  border-radius: 0;
}
h4.modsubmissiontitle {
  margin: 0;
  letter-spacing: 1px;
  height: 18px;
  overflow: hidden;
  word-wrap: break-word;
}
h4.modsubmissiontitle a:hover {
  text-decoration: underline;
}

.levelthumb {
  height: 93px;
  width: 165px;
  margin-left: 8.5px;
  margin-top: 8.5px;
  outline: 1px solid rgb(150, 150, 150);
  float: left;
}
.contentdetails {
  margin-left: 190px;
  padding-top: 10px;
  margin-right: 5px;
}
.madebyuser a:visited {
  font-size: 13px;
  color: #473AFA;
  font-family: 'Arimo', sans-serif;
  color: #473AFA;
}
.madebyuser a {
  font-size: 13px;
  color: #473AFA;
  font-family: 'Arimo', sans-serif;
  color: #473AFA;
}
.downloadcountwrap {
  display: inline-block;
  color: rgb(100, 100, 100);
  font-size: 13px;
}
.downloadcountwrap img {
  width: 11px;
  vertical-align: bottom;
  padding-bottom: 2px;
}
.contentdesc {
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  margin-top: 5px;
  word-wrap: break-word;
  overflow: hidden;
  min-height: 48px;
}
.footertext {
  color: white;
}
.sort-buttons {
  width:100%; 
  text-align:center; 
  height:8px;
  margin-top:5px; 
  font-size:14px; 
  margin-left:0px;
}

.contentdetails h4 {
  height: 18px; 
  overflow: hidden;
  word-wrap: break-word;
}