* {
  font-family: 'Arimo', Helvetica, sans-serif;
}
.form {
  margin-left: 50px;
}
a:link {
  text-decoration: none;
  color: #141414;
}
a:visited {
  color: #141414;
}
input[type=submit] {
  background-color: rgb(245, 245, 245) !important;
}
#mainpagewrap {
  width: 900px;
  height: 1240px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#mainpage {
  width: 860px;
  height: 1240px;
}
.mainpageleft {
  width: 860px;
  height: 100%;
  float: left;
  margin-left: 20px;
  border: none;
}
.mainpageright {
  width: 430px;
  height: 100%;
  float: right;
  margin-right: 20px;
  border: none;
}
