.stepboxes {
	float:left; 
	margin-left:25px;
	height:320; 
	width:240px;
	background-color:#FBFBFB;
	outline: 1px solid black; 
	margin-top:15px;
}

.form {
	float:left; 
	margin-left:25px;
	height:320; 
	width:500px;
	margin-top:15px;
}

.innerbox {
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.12);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.12);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.12);
}

.mainpageleft {
	border:none;
}

.contenthead1 {
	margin-bottom:7px;
}

.contenthead1 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}