input:not(.checkbox) {
  height: 30px;
  color: rgb(50, 50, 50);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 3px;
  padding-left: 5px;
}
input:hover {
  border: 1px solid rgb(170, 170, 170);
}
input[type=button] {
  background-color: rgb(245, 245, 245);
}

#mainpagewrap {
  width: 900px;
  height: 1240px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#mainpage {
  width: 860px;
  height: 1240px;
}
.mainpageleft {
  width: 430px;
  height: 100%;
  float: left;
  margin-left: 20px;
  border: none;
}
.mainpageright {
  width: 430px;
  height: 100%;
  float: right;
  margin-right: 20px;
  border: none;
}