<%= form_for([@submission, @upload]) do |f| %>
  <%= render 'shared/errors', object: @upload %>
  <p>
    <b>
      <%= f.label :name %>
    </b>
    <br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <b>
      <%= f.label :version %>
    </b>
    <br/>
    <%= f.text_field :version %>
  </p>
  <p>
    <b>
      <%= f.label :upload %>
    </b>
    <br/>
    <%= f.file_field :upload, class: 'file' %>
  </p>
  <p>
  Note: This file must be approved by a site admin before being released. This may take a little while.
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
