<!Doctype HTML>

<html>

<body>
  <div class="logowrap"><img class="logo" src=<%= image_path('logo.png') %> alt="Mods-Unturned.com" /></div>
  <div class="messagewrap effect2">
    <table>
      <tr class="messagetopwrap">
        <td><div class="messagetop"> <%= t '.right_place' %></div></td>
      </tr>
      <tr class="messagebottom">
        <td>
          <div class="maintenance_message_wrap effect7">
            <span class="maintenance_message"> <%= t '.down_for_short' %> <br /> <%= t '.be_back_soon' %>
          </div>
        </td>
      </tr>
    </div>

  </body>
  </html>