<!Doctype HTML>


<html>

<body>
  <div class="logowrap"><img class="logo" src=<%= image_path('logo.png') %> alt="Mods-Unturned.com" /></div>
  <div class="messagewrap effect2">
    <table>
      <tr class="messagetopwrap">
        <td><div class="messagetop"> Right Place, Wrong Time</div></td>
      </tr>
      <tr class="messagebottom">
        <td>
          <div class="maintenance_message_wrap effect7">
            <span class="maintenance_message"> Down for short maintenance <br /> Be back soon! - <a href="https://twitter.com/Mods_Unturned" target="_blank">Twitter</a></span>
          </div>
        </td>
      </tr>
    </div>

  </body>
</html>