%div
  #centerpage
    #headerpage
      .headerwrap
        = image_tag('header.png')
    = render 'shared/tabs'
    #mainpagewrap
      .box.effect1
        %h2 Upload Image
      .mainpageleft
        .form
          = render 'form'
      #mainpage
